{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="main">
        <section class="home-slider position-relative">
            <div class="hero-slider-1 style-2 dot-style-1 dot-style-1-position-1">
                <div class="single-hero-slider single-animation-wrap">
                    <div class="container">
                        <div class="slider-1-height-2 slider-animated-1">
                            <div class="hero-slider-content-2">
                                <h5 class="animated">Trade-In Offer</h5>
                                <h3 class="animated fw-900">Supper Value Deals</h3>
                                <h3 class="animated fw-900 text-brand">On All Products</h3>
                                <p class="animated">Save more with coupons & up to 70% off</p>
                                <a class="animated btn btn-brush btn-brush-3" href="shop-product-right.html"> Shop Now </a>
                            </div>
                            <div class="single-slider-img single-slider-img-1">
                                <img class="animated" src="{% static "assets\imgs\slider\slider-1.png" %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-hero-slider single-animation-wrap">
                    <div class="container">
                        <div class="slider-1-height-2 slider-animated-1">
                            <div class="hero-slider-content-2">
                                <h5 class="animated">Tech Promotions</h5>
                                <h3 class="animated fw-900">Tech Trending</h3>
                                <h3 class="animated fw-900 text-brand">Great Collection</h3>
                                <p class="animated">Save more with coupons & up to 20% off</p>
                                <a class="animated btn btn-brush btn-brush-1" href="shop-product-right.html"> Shop Now </a>
                            </div>
                            <div class="single-slider-img single-slider-img-1">
                                <img class="animated" src="{%static "assets/imgs/slider/slider-3.png" %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-arrow hero-slider-1-arrow"></div>
        </section>
        <section class="banners mb-20">
            <div class="container">
               
            </div>
        </section>
        <section class="product-tabs pt-25 pb-20 wow fadeIn animated">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        
                        <div class="banner-img wow fadeIn mb-45mb-lg-0 animated d-lg-block d-none">
                            <img src="{% static "assets/imgs/banner/banner-11.jpg" %}" alt="">
                            <div class="banner-text">
                                <span>Women Zone</span>
                                <br>
                                <a href="{%url 'products' "Women's Fashion" None %}">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="tab-header">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Featured</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab" data-bs-target="#tab-three" type="button" role="tab" aria-controls="tab-three" aria-selected="false">New added</button>
                                </li>
                            </ul>
                            <a href="#" class="view-more d-none d-md-flex">View More<i class="fi-rs-angle-double-small-right"></i></a>
                        </div>
                        <!--End nav-tabs-->
                        <div class="tab-content wow fadeIn animated" id="myTabContent">
                            <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                                <div class="row product-grid-4">
                                    {%for ob in feature %}
                                    <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="{%url 'viewprod' ob.id %}">
                                                        <img class="default-img" src="{{ ob.image.url }}" alt="">
                                                        <img class="hover-img" src="{{ ob.image2.url }}" alt="">
                                                    </a>
                                                </div>
                                                
                                               
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="shop-grid-right.html">{{ ob.catagory.catagory_name }}</a>
                                                </div>
                                                <h2><a href="shop-product-right.html">{{ ob.name }}</a></h2>
                                                
                                                {% if ob.price != ob.discountprice %}
                                                <div class="product-price">
                                                    <span>Rs.{{ ob.discountprice }}</span>
                                                    <span class="old-price">{{ ob.price }}</span>
                                                </div>
                                                {% else %}
                                                <div class="product-price">
                                                    <span>Rs.{{ ob.price }}</span>
                                                </div>
                                                {% endif %}
                                            
                                            </div>
                                        </div>
                                    </div>
                                 
                                    {% endfor %}
                                </div>
                               
                                <!--End product-grid-4-->
                            </div>
                            <!--En tab one (Featured)-->
                            <div class="tab-pane fade" id="tab-three" role="tabpanel" aria-labelledby="tab-three">
                                <div class="row product-grid-4">
                                    {% for ob in new %}
                                    <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="shop-product-right.html">
                                                        <img class="default-img" src="{{ ob.image.url }}" alt="">
                                                        <img class="hover-img" src="{{ ob.image2.url }}" alt="">
                                                    </a>
                                                </div>
                                               
                                                
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="shop-grid-right.html">{{ ob.catagory.catagory_name }}</a>
                                                </div>
                                                <h2><a href="shop-product-right.html">{{ ob.name }}</a></h2>
                                               
                                                {% if ob.price != ob.discountprice %}
                                                <div class="product-price">
                                                    <span>Rs.{{ ob.discountprice }}</span>
                                                    <span class="old-price">{{ ob.price }}</span>
                                                </div>
                                                {% else %}
                                                <div class="product-price">
                                                    <span>Rs.{{ ob.price }}</span>
                                                </div>
                                                {% endif %}
                                                
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <!--End product-grid-4-->
                            </div>
                            <!--En tab three (New added)-->
                        </div>
                        <!--End tab-content-->
                    </div>
                </div>
            </div>
        </section>
       
        <section class="section-padding">
            <div class="container pb-20">
                <h3 class="section-title mb-20 wow fadeIn animated"><span>Featured</span> Brands</h3>
                <div class="carausel-6-columns-cover position-relative wow fadeIn animated">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-3-arrows"></div>
                    <div class="carausel-6-columns text-center" id="carausel-6-columns-3">
                        <div class="brand-logo">
                            <img class="img-grey-hover" src="{% static "assets/imgs/banner/brand-1.png" %}" alt="">
                        </div>
                        <div class="brand-logo">
                            <img class="img-grey-hover" src="{% static "assets/imgs/banner/brand-2.png" %}" alt="">
                        </div>
                        <div class="brand-logo">
                            <img class="img-grey-hover" src="{% static "assets/imgs/banner/brand-3.png" %}" alt="">
                        </div>
                        <div class="brand-logo">
                            <img class="img-grey-hover" src="{% static "assets/imgs/banner/brand-4.png" %}" alt="">
                        </div>
                        <div class="brand-logo">
                            <img class="img-grey-hover" src="{% static "assets/imgs/banner/brand-5.png" %}" alt="">
                        </div>
                        <div class="brand-logo">
                            <img class="img-grey-hover" src="{% static "assets/imgs/banner/brand-6.png" %}" alt="">
                        </div>
                        <div class="brand-logo">
                            <img class="img-grey-hover" src="{% static "assets/imgs/banner/brand-3.png" %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        

        <section class="featured section-padding">
            <div class="container pb-25">
                <div class="row">
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-1.png" alt="">
                            <h4 class="bg-1">Free Shipping</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-2.png" alt="">
                            <h4 class="bg-3">Online Order</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-3.png" alt="">
                            <h4 class="bg-2">Save Money</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-4.png" alt="">
                            <h4 class="bg-4">Promotions</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-5.png" alt="">
                            <h4 class="bg-5">Happy Sell</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-6.png" alt="">
                            <h4 class="bg-6">24/7 Support</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}