{% extends 'ad/adminbase.html' %}
{% block content %}
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Dashboard </h2>
                    <p>Whole data about your business here</p>
                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Revenue</h6>
                                <span>Rs.{{ ordertotal }}</span>
                                <span class="text-sm">
                                    Shipping fees are not included
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Orders</h6> <span>{{ orders }}</span>
                                <span class="text-sm">
                                   
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Products</h6> <span>{{ products }}</span>
                                <span class="text-sm">
                                    in {{ categories }} categories
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
              
            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-12">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Sale statistics</h5>
                            <canvas id="myChart1" height="120px"></canvas>
                        </article>
                    </div>
                    
                </div>
                <div class="col-xl-4 col-lg-12">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Revenue</h5>
                            <canvas id="myChart3" height="217"></canvas>
                        </article>
                    </div>
                    
                </div>
                <div class="col-xl-4 col-lg-12">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Revenue</h5>
                            <canvas id="myChart4" height="217"></canvas>
                        </article>
                    </div>
                    
                </div>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.0/chart.min.js"></script>  
            <script type="text/javascript">
                var ctx = document.getElementById('myChart1').getContext('2d');
                var myChart1 = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['cod ', 'razorpay', 'Paypal'],
                        datasets: [{
                            label: 'Total',
                            data: ['{{Cod}}', '{{razor}}', '{{ppal}}'],
                            backgroundColor:[
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 135, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(151, 102, 132, 1)',
                            'rgba(153, 99, 132, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 135, 1)',
                            'rgba(25, 206, 86, 1)',
                            'rgba(211, 192, 192, 1)',
                            'rgba(234, 102, 132, 1)',
                            'rgba(153, 99, 132, 1)',
                            'rgba(255, 159, 64, 1)',
                            'gree',
                            'yellow',
                            ],
            
                            borderColor: [
                            'rgba(54, 162, 135, 1)',
                            'rgba(25, 206, 86, 1)',
                            'rgba(211, 192, 192, 1)',
                            'rgba(234, 102, 132, 1)',
                            'rgba(153, 99, 132, 1)',
                            'rgba(255, 159, 64, 1)',
            
                            ],
            
                            borderWidth: 1
                        }]
                    },
            
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                })
            </script>        
            
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script>
    var ctx = document.getElementById('myChart3').getContext('2d');
    var myChart2 = new Chart(ctx, {
      type: 'doughnut', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data: {
          labels: ['COD', 'RAZORPAY', 'PAYPAL'],
          datasets: [{
              label: 'TOTAL SALES',
              data: ['{{sumcod}}','{{sumppal}}','{{sumrazor}}'],
                 
              //backgroundColor:'green',
              backgroundColor: [
                  '#63DF0D',
                  '#0D59DF ',
                  '#9E15E7',
                 
              ],
              borderWidth: 1,
              borderColor: '#777',
              hoverBorderWidth: 3,
              hoverBorderColor: '#000'
          }]
      },
      options: {
          title: {
              display: true,
              text: '',
              fontSize: 25
          },
          legend: {
              display: true,
              position: 'right',
              labels: {
                  fontColor: '#000'
              }
          },
          layout: {
              padding: {
                  left: 50,
                  right: 0,
                  bottom: 0,
                  top: 0
              }
          },
          tooltips: {
              enabled: true
          }
      }
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script>
    var ctx = document.getElementById('myChart4').getContext('2d');
    var myChart2 = new Chart(ctx, {
      type: 'polarArea', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data: {
          labels: ["Men's Products", "Women's Products", 'Kids'],
          datasets: [{
              label: 'TOTAL SALES',
              data: ['{{catmen}}','{{catwomen}}','{{catkid}}'],
                 
              //backgroundColor:'green',
              backgroundColor: [
                  '#63DF0D',
                  '#0D59DF ',
                  '#9E15E7',
                 
              ],
              borderWidth: 1,
              borderColor: '#777',
              hoverBorderWidth: 3,
              hoverBorderColor: '#000'
          }]
      },
      options: {
          title: {
              display: true,
              text: '',
              fontSize: 25
          },
          legend: {
              display: true,
              position: 'right',
              labels: {
                  fontColor: '#000'
              }
          },
          layout: {
              padding: {
                  left: 50,
                  right: 0,
                  bottom: 0,
                  top: 0
              }
          },
          tooltips: {
              enabled: true
          }
      }
  });
</script>

            
            
        </section> <!-- content-main end// -->
{% endblock %}