{% extends 'ad/adminbase.html' %}

{%load static%}
{% block content %}
 

<section class="content-main">

    <div class="card mb-4">
          <h4 class="card-title text-center">Custom Report</h4>
          <form action="{%url 'customsales' %}" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
          <div class="row align-items-center">
              <div class="col-md-2  ">
                  <div class="custom_select">
                    <label for="fdate">From</label>
                     <input type="date" id="fdate" value="{{ frm }}" name="fdate">    
                  </div>
              </div>
            <div class="col-md-2 me-auto ">

                <div class="custom_select">
                    <label for="tdate">To</label>
                    <input type="date" id="tdate" value="{{ todt }}" name="tdate">    
                </div>
            </div>

              
              <div class="col-md-2 col-2">
                  <button class="btn btn-primary" type="submit">Show</button>
              </div>
              <div class="col-md-1 col-3">
                <div class="dropdown">
                    <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm show" aria-expanded="true"> Export </a>
                    <div class="dropdown-menu" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(-39px, 31.5px, 0px);" data-popper-placement="bottom-start">
                        <a class="dropdown-item" onclick="cexp()">CSV</a>
                        <a class="dropdown-item" onclick="pexp()">PDF</a>
                    </div>
                </div>
              </div>
            </form>
            <script>
                function pexp(){
                    var value1 = document.getElementById('fdate').value
                    var value2 = document.getElementById('tdate').value
                    window.location.href = "custompdf/" + value1 +"/" +value2
                }
              function cexp(){
                  var value1 = document.getElementById('fdate').value
                  var value2 = document.getElementById('tdate').value
                  window.location.href = "customexport/" + value1+ "/" + value2;
              }
            </script>
      </div>
      </header>
      <div class="card-body">
          <div class="table-responsive">
              <div class="table-responsive">
                  <table class="table align-middle table-nowrap mb-0">
                      <thead class="table-light">
                          <tr>
                              <th scope="col" class="text-center">
                                  <div class="form-check align-middle">
                                      <input class="form-check-input" type="checkbox" id="transactionCheck01">
                                      <label class="form-check-label" for="transactionCheck01"></label>
                                  </div>
                              </th>
                              <th class="align-middle" scope="col">Order ID</th>
                              <th class="align-middle" scope="col">Billing Name</th>
                              <th class="align-middle" scope="col">Date</th>
                              <th class="align-middle" scope="col">Total</th>
                              <th class="align-middle" scope="col">Payment Status</th>
                              <th class="align-middle" scope="col">Payment Method</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for ob in csalesreport %}
                          <tr>
                              <td class="text-center">
                                  <div class="form-check">
                                      <input class="form-check-input" type="checkbox" id="transactionCheck02">
                                      <label class="form-check-label" for="transactionCheck02"></label>
                                  </div>
                              </td>
                              <td><a href="#" class="fw-bold">{{ ob.id }}</a> </td>
                              <td>{{ ob.user.username }}</td>
                              <td>
                                  {{ ob.date }}
                              </td>
                              <td>
                                  {{ ob.ordertotal }}
                              </td>
                              <td>
                                  <span class="badge badge-pill badge-soft-success">{{ ob.status }}</span>
                              </td>
                              <td>
                                  <i class="material-icons md-payment font-xxl text-muted mr-5"></i> {{ ob.payment.payment_method }}
                              </td>
                             
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div> <!-- table-responsive end// -->
      </div>
      
  </div>
  
            {% if messages %}
            <div class="messages row justify-content-center text-center mt-10">
            {% for message in messages %}
            <div class="alert alert-info {{ message.tags }} col-6" role="alert">
            {{ message }}
            </div>
            {% endfor %}
            </div>
            {% endif %}
  
  </section> 
{% endblock %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>