{% extends 'ad/adminbase.html' %}
{% block content %}
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order Management </h2>
                </div>
                
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Date</th>
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ob in orders %}
                                <tr>
                                    <td>{{ ob.orderid }}</td>
                                    <td><b>{{ ob.user.username }}</b></td>
                                    <td><template class="__cf_email__" data-cfemail="aec3cfdcd8c7c0eecbd6cfc3dec2cb80cdc1c3">[email&#160;protected]</template></td>
                                    <td>Rs.{{ ob.ordertotal }}</td>
                                    <td><span class="badge rounded-pill alert-warning">{{ ob.status }}</span></td>
                                    <td>{{ ob.date }}</td>
                                    <td class="text-end">
                                        <a href="{%url 'orderdetails' ob.id %}" class="btn btn-md rounded font-sm">Detail</a>
                                        <!-- dropdown //end -->
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            {% if orders.has_other_pages %}
                <ul class="pagination">
                    {% if orders.has_previous %}
                    <li><a class="page-link" href="?page={{ orders.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                    <li class="disabled"  class="page-link"><span  class="page-link">&laquo;</span></li>
                    {% endif %}
                    {% for i in orders.paginator.page_range %}
                    {% if orders.number == i %}
                        <li class="page-item active"><span  class="page-link" >{{ i }} </span></span></li>
                    {% else %}
                        <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if orders.has_next %}
                    <li><a class="page-link" href="?page={{ orders.next_page_number }}">&raquo;</a></li>
                    {% else %}
                    <li class="disabled" class="page-link"><span  class="page-link">&raquo;</span></li>
                    {% endif %}
                </ul>
                {% endif %}
            
        </section> <!-- content-main end// -->
    {% endblock %}