{% extends 'ad/adminbase.html' %}
{% load static %}
{% block content %}

<body>
   
    
    <main class="main-wrap">
        
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                       
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                            <form action="{%url 'addproduct' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Product title</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_name" name="name">
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Full description</label>
                                    <textarea placeholder="Type here" class="form-control" rows="4" name="desc"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">price</label>
                                            <div class="row gx-2">
                                                <input placeholder="Rs." type="text" class="form-control" name="price">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <h4>Organization</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="row gx-2">
                                                <div class="col-sm-6 mb-3 ">
                                                    <label class="form-label">Stock of size S</label>
                                                    <div class="row gx-2">
                                                        <input placeholder="" type="number" class="form-control" name="sizeS" value=100>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 mb-3 ml-3" >
                                                    <label class="form-label">Stock of size M</label>
                                                    <div class="row gx-2">
                                                        <input placeholder="" type="number" class="form-control" name="sizeM" value=100>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 mb-3">
                                                    <label class="form-label">Stock of size L</label>
                                                    <div class="row gx-2">
                                                        <input placeholder="" type="number" class="form-control" name="sizeL" value=100>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 mb-3 ml-3">
                                                    <label class="form-label">Stock of size XL</label>
                                                    <div class="row gx-2">
                                                        <input placeholder="" type="number" class="form-control" name="sizeXL" value=100>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 mb-3 ml-3">
                                                    <label class="form-label">Stock of size XLL</label>
                                                    <div class="row gx-2">
                                                        <input placeholder="" type="number" class="form-control" name="sizeXXL" value=100>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 mb-3">
                                                    <label class="form-label">Category</label>
                                                    <select class="form-select" name="catagory">
                                                        {% for ob in cat %}
                                                        <option>{{ ob.catagory_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-sm-6 mb-3">
                                                    <label class="form-label">Sub-Category</label>
                                                    <select class="form-select" name="sub_catagory">
                                                        {% for ob in sub %}
                                                        <option>{{ ob.subcatagory_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-sm-6 mb-3">
                                                    <label class="form-label">Brand</label>
                                                    <select class="form-select" name="brand">
                                                        {% for ob in brnd %}
                                                        <option>{{ ob.brand_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="mb-4">
                                                    <label for="product_name" class="form-label">Tags</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div> <!-- row.// -->
                                        </div>
                                    </div> <!-- card end// -->
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <h4>Image 1</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="input-upload">
                                            <input class="form-control id_file" type="file" name="image" accept="image/*" title="Insert images">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <h4>Image 2</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="input-upload">
                                                <input class="form-control" type="file" name="image2" accept="image/*" title="Insert images">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <h4>Image 3</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="input-upload">
                                                <input class="form-control" type="file" name="image3" accept="image/*" title="Insert images">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <h4>Image 4</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="input-upload">
                                                <input class="form-control" type="file" name="image4" accept="image/*" title="Insert images">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                                    <button class="btn btn-md rounded font-sm hover-up" type="submit">Publich</button>
                                </div>

                            </form>
                        </div>
                    </div> <!-- card end// -->
                    
                </div>
                
            </div>
            <script src="/path/to/cdn/jquery.min.js"></script>
            <script src="cropimage.js"></script>
            <link rel="stylesheet" href="cropimage.css" />
            <!-- jQuery -->
            <script src="/path/to/cdn/jquery.min.js"></script>

            


            
        </section> <!-- content-main end// -->

{% endblock %}