{% extends 'ad/adminbase.html' %}
{% load static %}
{% block content %}
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Catagory</h2>
                       
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                            <form action="{%url 'addcatagory' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Catagory Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_name" name="catagory_name">
                                </div>
                                
                                <div>
                                    <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                                    <button class="btn btn-md rounded font-sm hover-up" type="submit">Publich</button>
                                </div>

                            </form>
                        </div>
                    </div> <!-- card end// -->
                    
                </div>
                
            </div>
            {% if messages %}
            <div class="messages row justify-content-center text-center mt-10">
            {% for message in messages %}
            <div class="alert alert-info {{ message.tags }} col-6" role="alert">
            {{ message }}
            </div>
            {% endfor %}
            </div>
            {% endif %}
        </section> <!-- content-main end// -->
       
{% endblock %}